.main-div{
   /* width : 1300px; */
   /* background-image : conic-gradient(orange,red,green,blue,yellow,indigo,violet); */
}

input{
  border : 1px solid transparent;
  border-radius : 10px;
  width : 15vw;
}

select{
   border : 1px solid transparent;
  border-radius : 10px;
}

.s-li{
  list-style-type: none;
  border-width : 2px;
  border-style: solid;
  border-radius : 10px;
  animation-name: demo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.d-li{
  list-style-type: none;
  border-width : 2px;
  border-style: solid;
  border-radius : 10px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes demo {
  from {
    border-color : green;
    color : lightcyan;
  }
  to {
    border-color : bisque;
    color : whitesmoke;
  }
}

@keyframes example {
  from {
    border-color : red;
    color : lightcyan;
  }
  to {
    border-color : bisque ;
    color : whitesmoke;
  }
}